database/src/main/mule/database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="439b4a1d-42b9-4c15-a9bf-bf9d0d64496b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="SDatabase_Config" doc:name="Database Config" doc:id="92b7ab23-bcb7-49f7-bfec-a2756d68baa3" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Suryarao@ch88" database="prasadchi" />
	</db:config>
	<flow name="databaseFlow" doc:id="7835f214-1703-44cc-8f0e-c224e23fa326" >
		<http:listener doc:name="Listener" doc:id="e01b0ba9-4fc5-4923-b299-5ec51187e52c" config-ref="HTTP_Listener_config" path="db"/>
		<ee:transform doc:name="Transform Message" doc:id="6c227195-284e-4461-8e80-939c97125f69">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
1 to 150 map {
	"empid": if($$ == 9) "prasadsj" else 100 + $$,
	"empname": "surya",
	"age": 30,
	"city": "hyd"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="databaseBatch_Job" doc:id="e929d02f-1272-4f70-8d8b-551d8cf19785" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="d8ad9869-220c-4319-b3a0-e13413f1315a" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="d326d94d-6670-4069-b081-d9b1c35107dd" size="10">
						<logger level="INFO" doc:name="Logger" doc:id="3d475bb6-810e-4911-b5f1-00ff998591f7" message="#[payload]" />
						<db:bulk-insert doc:name="Bulk insert" doc:id="15a3fcf2-2b38-4cc2-9401-20162868c054" config-ref="SDatabase_Config">
							<db:sql ><![CDATA[insert into prasadchi.emp(empid,empname,age,city) values(:empid,:empname,:age,:city)
]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Transform Message" doc:id="c6192ba3-9d3d-4b8b-907d-5b17f2214927" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="aad8c191-1f90-49e6-8b60-d66abd024637" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
